table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  
}

tr:nth-child(2n+3) {
  background-color: #dddddd;
}

input{
width: 100%;

}

*{box-sizing: border-box;}

input[type=submit] {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 4px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  transition: all .5s ease;
  font-size: 40px;
}

input[type=submit]:hover  {

background-color: #048153;
}

