body{
  font-family: arial, sans-serif;
  }
  
  table {
    border-collapse: collapse;
    width: 80%;
  }
  
  td, th {
    border: 1px solid #04AA6D;
    text-align: left;
    padding: 8px;
    
  }
  
  tr:nth-child(2n+4) {
    background-color: #dddddd;
  }
  
  input{
  width: 100%;
  
  }
  
  *{box-sizing: border-box;}
  
  input[type=submit] {
    background-color: #04AA6D;
    border: 1px solid #04AA6D;
    color: white;
    padding: 4px 32px;
    text-decoration: none;
    cursor: pointer;
    transition: all .5s ease;
    font-size: 40px;
    border-radius: 5px;
    width: 100%;
  }
  
  input[type=submit]:hover  {
  
  background-color: #048153;
  }


  
  
